@model IEnumerable<FactElectronica.Models.Ciudad>

@{
    ViewData["Title"] = "Ciudad";
}

<h1>Index</h1>

<p>
    <a asp-action="Guardar">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreCiudad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FldOrigen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCiudad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FldOrigen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Consecutivo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Consecutivo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Consecutivo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
